@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--ff-primary: 'Poppins', sans-serif;

	--fs-body: 1rem;
	--fs-small: 0.85rem;
	--fs-h1: 1.5rem;
	--fs-h2: 1.3rem;
	--fs-h3: 1.15rem;

	--fw-medium: 500;
	--fw-semi-bold: 600;
	--fw-bold: 700;

	--clr-primary: #4070f4;
	--clr-secondary: #0e2431;

	--bs-primary: 0 4px 25px rgba(14, 36, 49, 0.15);
	--bs-secondary: 0 10px 36px rgba(0, 0, 0, 0.15);

	--mg-1: 0.5rem;
	--mg-2: 1rem;
	--mg-3: 1.5rem;
	--mg-4: 2rem;
	--mg-5: 2.5rem;
	--mg-6: 3rem;
}

@media screen and (min-width: 768px) {
	:root {
		--fs-body: 1.15rem;
		--fs-small: 0.95rem;
		--fs-h1: 2.25rem;
		--fs-h2: 1.5rem;
		--fs-h3: 1.25rem;
	}
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: var(--ff-primary);
	font-size: var(--fs-body);
	font-weight: var(--fw-medium);
	color: var(--clr-secondary);
	line-height: 1.6;
}

h1 {
	font-size: var(--fs-h1);
}

h2 {
	font-size: var(--fs-h2);
}

h3 {
	font-size: var(--fs-h3);
}

h1,
h2,
h3,
p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	width: 100%;
	display: block;
}

/* Section styles */
.section {
	padding: 3rem 0 2rem;
}

.section-title {
	position: relative;
	color: var(--clr-primary);
	margin: var(--mg-2) 0 var(--mg-4);
	text-align: center;
}

.section-title::after {
	position: absolute;
	content: '';
	width: 64px;
	height: 0.18rem;
	left: 0;
	right: 0;
	top: 2rem;
	margin: auto;
	background-color: var(--clr-primary);
}

@media screen and (min-width: 768px) {
	.section {
		padding: 4rem 0 3rem;
	}

	.section-title {
		margin-bottom: var(--mg-5);
	}

	.section-title::after {
		width: 80px;
		top: 3rem;
	}
}
/* Layout */
.grid {
	display: grid;
	max-width: 1170px;
	margin: 0 auto;
	grid-template-columns: 100%;
	grid-column-gap: 2rem;
	width: calc(100% - 4rem);
	/* margin-left: var(--mg-4); */
	/* margin-right: var(--mg-4); */
}

/* Buttons */
.button {
	display: inline-block;
	background-color: var(--clr-primary);
	color: #fff;
	padding: 0.75rem 2.5rem;
	font-weight: var(--fw-semi-bold);
	border-radius: 0.5rem;
	transition: all 0.3s ease-in-out;
}
.button:hover {
	box-shadow: var(--bs-secondary);
}
/* Skills section */
.skills__subtitle {
	margin-bottom: var(--mg-1);
}

.skills__text {
	margin-bottom: var(--mg-3);
}

.skills__data {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: var(--fw-semi-bold);
	padding: 0.5rem 1rem;
	margin-bottom: var(--mg-4);
	border-radius: 0.5rem;
	box-shadow: var(--bs-primary);
	position: relative;
}

.skills__icon {
	font-size: 1.4rem;
	margin-right: var(--mg-2) b;
	color: var(--clr-primary);
}

.skills__name {
	display: flex;
	align-items: center;
}

.skills__bar {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 0.25rem;
	background-color: var(--clr-primary);
	border-radius: 0.5rem;
}

.skills__html {
	width: 95%;
}

.skills__css {
	width: 84%;
}

.skills__js {
	width: 78%;
}

.skills__sketch {
	width: 72%;
}

@media screen and (min-width: 768px) {
	.skills__container {
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		text-align: initial;
	}
}

/* Works section */
.works__container {
	row-gap: 2rem;
}

.work__img {
	box-shadow: var(--bs-primary);
	border-radius: 0.5rem;
	overflow: hidden;
}

.work__img img {
	transition: transform 0.6s ease-in-out;
	cursor: pointer;
}

.work__img img:hover {
	transform: scale(1.1);
}

@media screen and (min-width: 768px) {
	.works__container {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		column-gap: 2rem;
	}
}

/* Contact section */
.contact__input {
	width: 100%;
	display: block;
	font-size: var(--fs-body);
	font-weight: var(--fw-semi-bold);
	padding: 1rem;
	border-radius: 1rem;
	border: 1.5px solid var(--clr-secondary);
	outline: none;
	margin-bottom: var(--mg-3);
}

.contact__button {
	display: block;
	font-size: var(--fs-body);
	border: none;
	outline: none;
	margin-left: auto;
	cursor: pointer;
}

@media screen and (min-width: 768px) {
	.contact__form {
		width: 520px;
	}
	.contact__container {
		justify-items: center;
	}
}

/* Footer */
.footer {
	background-color: var(--clr-secondary);
	color: #fff;
	text-align: center;
	font-weight: var(--fw-semi-bold);
	padding: 1.2rem 0;
}
.footer__title {
	font-size: 2rem;
	margin-bottom: var(--mg-2);
}
.footer__social {
	margin-bottom: var(--mg-2);
}
.footer__icon {
	font-size: 1.5rem;
	color: #fff;
	margin: 0 var(--mg-2);}
  
  
